.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button{
    margin-top: 20px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
    background: #71ff6f;
    color: rgb(69, 69, 69);
}